web/public/tmp

web/public/node_modules
web/public/bower_components

web/public/.idea
web/public/edi

web/public/.sass-cache
web/public/connect.lock
web/public/coverage/*
web/public/libpeerconnection.log
web/publicnpm-debug.log
web/publictestem.log
web/public/typings

web/public/e2e/
web/public/e2e/

web/public.DS_Store

web/core/vendor
web/core/composer.phar

web/public/dist/
web/public/.tmp/